name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  flake-check:
    name: Flake check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-25.11

      - uses: cachix/cachix-action@v16
        with:
          name: wnix
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: nix flake check
        run: nix flake check --print-build-logs

  build:
    name: Build ${{ matrix.package }}
    runs-on: ubuntu-latest
    needs: flake-check
    strategy:
      fail-fast: false
      matrix:
        package:
          - seatsurfing-server
          - seatsurfing-ui
    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-25.11

      - uses: cachix/cachix-action@v16
        with:
          name: wnix
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          useDaemon: false  # use store scan so substituted paths are also pushed

      - name: Build ${{ matrix.package }}
        run: nix build .#${{ matrix.package }} --print-build-logs
